<strong> Hello, {{ deliveryman }}</strong>
<p>An order has been changed, check out the datails below.</p>

<p>

  <strong>Order ID:</strong> {{ order }} <br/>
  <strong>Customer:</strong> {{ recipient }} <br/>
  <strong>Product:</strong> {{ product }} <br/><br/>
  {{> notes }}
</p>
