<strong> Hello, {{ deliveryman }}</strong>
<p>A new order has been added to be delivered by you, check out the datails below.</p>

<p>

  <strong>Order ID:</strong> {{ order }} <br/>
  <strong>Customer:</strong> {{ recipient }} <br/>
  <strong>Product:</strong> {{ product }} <br/><br/>
  <small><strong>Note:</strong> The order must be picked between 8:00 and 18:00.</small>
</p>
